/* Styles Generales */
@import 'rsuite/styles/index.less';
@import 'bootstrap/dist/css/bootstrap.min.css';

body{
    background-color: rgb(30, 30, 34);
    color: white;
}


/* Styles de Bar */
.bar{
    padding: 15px 0px 0px 0px;
}

.bar-actions{
    padding: 10px;
    background-color: rgba(209, 209, 214, 0.126);
    width: 500px;
    height: auto;
    margin: 0 auto;
    display: grid;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.options-bar{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-bar li {
    padding: 5px;
    cursor: pointer;
}

.options-bar li:hover{
    color: aqua;
}

/* Styles About */
.about{
    margin: 0 auto;
    width: 800px;
    text-align: justify;
}

.my-name{
    margin-top: 50px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.about-me{
    font-size: 1.3rem;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.place-picture{
    align-items: center;
    text-align: center;
    padding: 30px;
}

.picture-me{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.place-button{
    text-align: center;
}

.downlader-cv{
    width: auto;
    height: 40px;
    padding: 5px 15px 5px 15px;
    align-items: center;
    font-size: 1.1rem;
    color: black;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.downlader-cv:hover{
    cursor: pointer;
}


/* Seccion Tecnology*/

.place-tecnology{
    margin: 80px 0px 80px 0px;
}

.tecnologys{
    width: 800px;
    height: auto;
    margin: 0 auto;
    background-color: rgba(209, 209, 214, 0.126);
    border-radius: 8px;
    display: grid;
    align-items: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list-tecnology{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    object-fit: cover;
    text-align: center;
}

.tecno-imagen{
    width: 80px;
    height: 80px;
}

.tecno{
    align-items: center;
}

/* Styles projects */

.projects {
    margin: 0 auto;
    width: 800px;
    margin-bottom: 50px;
}

.title-projects{
    text-align: center;
    padding: 0px 0px 30px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.place-projects{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 0px 10px 0px;
    text-align: center;
    gap: 60px;
}

.get-project{
    padding: 40px;
    justify-content: center;
    text-align: center;
}


/* Styles certifices */

.certificate{
    margin: 0 auto;
    width: 800px;
    margin-bottom: 50px;
}

.place-certificate{
    padding: 10px;
    text-align: center;
}


/* Style Footer */

.footer-place{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 10px;
}

#javascript:hover{
    color: yellow;
}

#css:hover{
    color: rgba(60, 60, 242, 0.82);
}

#nodejs:hover{
    color: greenyellow;
}

#mongodb:hover{
    color: green;
}

#html:hover{
    color: orange;
}

#react:hover{
    color: aqua;
}

#mysql:hover{
    color: darkkhaki;
}

#python:hover{
    color: cadetblue;
}