/* Styles Generales */
body{
    background-color: rgb(30, 30, 34);
    color: white;
}


/* Styles de Bar */
.bar{
    padding: 15px 0px 0px 0px;
}

.bar-actions{
    padding: 10px;
    background-color: rgba(86, 86, 90, 0.126);
    width: 500px;
    height: auto;
    margin: 0 auto;
    display: grid;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.options-bar{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-bar li {
    padding: 5px;
    cursor: pointer;
}

.options-bar li:hover{
    color: aqua;
}

/* Styles About */
.about{
    margin: 0 auto;
    width: 800px;
    text-align: justify;
}

.my-name{
    margin-top: 50px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.about-me{
    font-size: 1.3rem;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.place-picture{
    align-items: center;
    text-align: center;
}

.picture-me{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.place-button{
    text-align: center;
    margin-bottom: 50px;
}

.downlader-cv{
    width: auto;
    height: 40px;
    padding: 5px 15px 5px 15px;
    align-items: center;
    font-size: 1.1rem;
    background-color: transparent;
    color: rgb(252, 252, 130);
    border-color: rgb(252, 252, 130);
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.downlader-cv:hover{
    background-color: rgb(252, 252, 130);
    color: rgba(1, 1, 1, 0.938);
    cursor: pointer;
}

/* Styles projects */

.projects {
    margin: 0 auto;
    width: 800px;
    margin-bottom: 50px;
}

.title-projects{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.place-projects{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 0px 10px 0px;
    text-align: center;
    gap: 40px;
}

/* Styles certifices */

.certificate{
    margin: 0 auto;
    width: 800px;
    margin-bottom: 50px;
}

.place-certificate{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 0px 10px 0px;
    text-align: center;
    gap: 15px;
}

