/* Styles Generales */
@import 'rsuite/styles/index.less';
@import 'bootstrap/dist/css/bootstrap.min.css';

body{
    background-color: rgb(30, 30, 34);
    color: white;
}


/* Styles de Bar */
.bar{
    padding: 15px 0px 0px 0px;
}

.bar-actions{
    padding: 10px;
    background-color: rgba(209, 209, 214, 0.126);
    width: 500px;
    height: auto;
    margin: 0 auto;
    display: grid;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.options-bar{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-bar li {
    padding: 5px;
    cursor: pointer;
}

.options-bar li a {
    color: white;
}

.options-bar li:hover{
    color: aqua;
}

/* Styles About */
.about{
    margin: 0 auto;
    width: 800px;
    text-align: justify;
}

.my-name {
    width: 30ch;
    text-align: center;
    white-space: nowrap;
    font-size: 1.5rem;
    overflow: hidden;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    animation: typing 5s steps(50) infinite alternate-reverse;
}

.my-name{
    margin-top: 50px;
}

@keyframes typing {
    from {
        width: 0ch;
    }

    to {
        width: 30ch;
    }
}

.about-me{
    font-size: 1.3rem;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.place-picture{
    align-items: center;
    text-align: center;
    padding: 30px;
}

.picture-me{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.place-button{
    text-align: center;
}

.downlader-cv{
    width: auto;
    height: 40px;
    padding: 5px 15px 5px 15px;
    align-items: center;
    font-size: 1.1rem;
    color: black;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.downlader-cv:hover{
    cursor: pointer;
}


/* Seccion Tecnology*/

.place-tecnology{
    margin: 80px 0px 80px 0px;
}

.tecnologys{
    width: 800px;
    height: auto;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    display: grid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.tecno-imagen{
    width: 80px;
    height: 80px;
}

.tecno{
    align-items: center;
    background-color: rgba(209, 209, 214, 0.126);
    padding: 15px;
    justify-content: center;
    display: grid;
    text-align: center;
    border-radius: 10px;
}

/* Styles projects */

.projects {
    margin: 0 auto;
    width: 800px;
    margin-bottom: 50px;
}

.title-projects{
    text-align: center;
    padding: 0px 0px 30px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.place-projects{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 0px 10px 0px;
    text-align: center;
    gap: 60px;
}

.get-project{
    padding: 40px;
    justify-content: center;
    text-align: center;
}


/* Styles certifices */

.certificate{
    margin: 0 auto;
    width: 800px;
    margin-bottom: 50px;
}

.place-certificate{
    text-align: center;
}


/* Style Contact */

.place-contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    margin: 5px 0px 50px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.place-email{
    background-color: rgba(209, 209, 214, 0.126);
    border-radius: 10px;
}

.input-form{
    display: grid;
    margin: 20px;
    gap: 4px;
}

.input{
    color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border-color: rgba(209, 209, 214, 0.126);
}

.button-send{
    gap: 5px;
    font-size: 17px;
}

.button-contact{
    width: 150px;
    gap: 5px;
    font-size: 17px;
    height: 40px;
}

.place-elements-contact{
    display: flex;
    font-size: 17px;
    gap: 8px;
    padding: 10px;
}

.list-contact{
    display: grid;
    height: 300px;
}

.msg-contact{
    font-size: 20px;
    margin-bottom: 30px;
}

/* Style Footer */

.footer-place{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 10px;
}

#javascript:hover{
    color: yellow;
}

#css:hover{
    color: rgba(34, 151, 224, 0.82);
}

#nodejs:hover{
    color: greenyellow;
}

#mongodb:hover{
    color: green;
}

#html:hover{
    color: orange;
}

#react:hover{
    color: aqua;
}

#mysql:hover{
    color: darkkhaki;
}

#python:hover{
    color: cadetblue;
}

#git:hover{
    color: rgb(235, 94, 6);
}

#express:hover{
    color: rgb(0, 0, 0);
}


/* Responsive */

@media (min-width: 769px) and (max-width: 1024px){
    
    .bar-actions {
        width: 400px;
    }

    .title-project,
    .input-form,
    .footer-place,
    .place-elements-contact {
        font-size: 16px;
    }

    .about,.tecnologys,.projects,.certificate {
        width: auto;
        padding: 20px;
    }

    .my-name {
        font-size: 20px;
        margin-top: 15px;
    }

    .downlader-cv {
        font-size: 16px;
        height: auto;
    }

    .tecnologys {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        padding: 0px 40px 0px 40px;
        width: 800px;
    }
    
    .tecno-imagen {
        width: 60px;
        height: 60px;
    }

    .tecno {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 17px;
    }

    .about-me {
        font-size: 20px;
        padding: 10px;
    }

    .place-projects{
        margin: 0 auto;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .place-contact {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 70px;
        margin: 0 auto;
        padding: 8px;
        width: 800px;
    }

    .place-elements-contact {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .msg-contact {
        font-size: 18px;
        text-align: center;
    }

    .place-email{
        width: 400px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    
    .bar-actions{
        width: 300px;
    }

    .about, .tecnologys, .projects, .certificate{
        width: auto;
        padding: 10px;
    }


    .my-name{
        font-size: 18px;
        margin-top: 15px;
    }

    .about-me{
        font-size: 16px;
        padding: 10px;
    }

    .msg-contact{
        font-size: 16px;
        text-align: center;
    }

    .picture-me{
        width: 150px;
        height: 150px;
    }


    .tecnologys{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        padding: 0px 20px 0px 20px;
    }

    .place-contact{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 70px;
        margin: 5px;
        padding: 8px;
    }

    .place-projects{
        margin: 0 auto;
    }

    .title-project, .input-form, .footer-place, .place-elements-contact{
        font-size: 15px;
    }

    .tecno-project{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    
    .place-elements-contact{
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .tecno-imagen {
        width: 50px;
        height: 50px;
    }

    .tecno{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 15px;
    }

    .projects{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .downlader-cv{
        font-size: 12px;
        height: auto;
    }

    .place-certificate{
        width: 800px;
    }

}

