/* Styles Generales */


body{
    background-color: rgb(30, 30, 34);
    color: white;
}

html {
    scroll-behavior: smooth;
}

/* Styles de Bar */
.bar{
    display: flex;
    width: 100%;
    padding: 15px 0px 0px 0px;
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 1000;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.bar-actions{
    padding: 12px 10px 10px 10px;
    background-color: rgba(209, 209, 214, 0.126);
    width: 500px;
    height: auto;
    margin: 0 auto;
    display: grid;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.options-bar{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-bar li {
    padding: 5px;
    cursor: pointer;
}

.options-bar li a {
    color: white;
}

.options-bar li:hover{
    color: aqua;
}

/* Styles About */
.about{
    margin: 0 auto;
    width: 800px;
    text-align: justify;
    margin-top: 100px;
}

.my-name {
    width: 30ch;
    text-align: center;
    white-space: nowrap;
    font-size: 1.5rem;
    overflow: hidden;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    animation: typing 5s steps(50) infinite alternate-reverse;
}

.my-name{
    margin-top: 50px;
}

@keyframes typing {
    from {
        width: 0ch;
    }

    to {
        width: 30ch;
    }
}

.about-me{
    font-size: 1.3rem;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.place-picture{
    align-items: center;
    text-align: center;
    margin: 30px;
}

.picture-me{
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.place-button{
    text-align: center;
}

.downlader-cv{
    width: auto;
    height: 40px;
    padding: 5px 15px 5px 15px;
    align-items: center;
    gap: 8px;
    font-size: 1.1rem;
    color: black;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.downlader-cv:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.502);
}


/* Seccion Tecnology*/

.place-tecnology{
    margin: 80px 0px 80px 0px;
    color: white;
    padding: 100px 20px;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    background: linear-gradient(to bottom,#2d2e309e,#111018);
}

.tecnologys{
    width: 800px;
    height: auto;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    display: grid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.tecno-imagen{
    width: 80px;
    height: 80px;
}

.tecno{
    align-items: center;
    background-color: rgba(209, 209, 214, 0.126);
    padding: 15px;
    justify-content: center;
    display: grid;
    text-align: center;
    border-radius: 10px;
    border: solid 1px rgba(209, 209, 214, 0.126);
}

.tecno:hover{
    border: solid 1px rgba(156, 151, 0, 0.95);
}

/* Styles projects */

.projects {
    margin: 0 auto;
    width: 800px;
    margin-bottom: 50px;
}

#my-projects{
    width: 100%;
    margin: 20px 0px 10px 0px;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    background: linear-gradient(to bottom, #2d2e309e, #111018);
    padding: 100px 20px;
}

.title-projects{
    text-align: center;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.place-projects{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
    text-align: center;
    gap: 60px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.get-project{
    padding: 40px;
    justify-content: center;
    text-align: center;
}


/* Styles certifices */

.certificate{
    margin: 0 auto;
    width: 800px;
    margin-bottom: 50px;
}

.place-certificate{
    text-align: center;
}


/* Style Contact */

#my-contact{
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    background: linear-gradient(to bottom, #2d2e309e, #111018);
    padding: 100px 20px;
    width: 100%;
}

.place-contact{
    display: grid;
    width: 100%;
    max-width: 800px;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.place-email{
    background-color: rgba(209, 209, 214, 0.126);
    border-radius: 10px;
}

.input-form{
    display: grid;
    margin: 20px;
    gap: 4px;
}

.input{
    color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border-color: rgba(209, 209, 214, 0.126);
}

.button-send{
    gap: 5px;
    font-size: 17px;
}

.button-contact{
    width: 150px;
    gap: 5px;
    font-size: 17px;
    height: 40px;
}

.place-elements-contact{
    display: flex;
    font-size: 17px;
    gap: 8px;
    padding: 10px;
    justify-content: left;
}

.list-contact{
    display: grid;
    height: 300px;
}

.msg-contact{
    font-size: 20px;
    margin-bottom: 30px;
    text-align: left;
}

#whapsapp-button:hover{
    background-color: rgb(80, 187, 126);
    color: white;
}

#linkedin-button:hover{
    background-color: rgb(0, 119, 181);
    color: white;
}

#github-button:hover{
    background-color: rgb(6, 6, 6);
    color: white;
}

/* Style Footer */

.footer-place{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 10px;
}


.options-bar li:hover{
    background-color: rgb(102, 106, 115);
    border-radius: 50%;
}


/* Responsive */

@media (min-width: 769px) and (max-width: 1024px){
    
    .bar-actions {
        width: 400px;
    }

    .title-project,
    .input-form,
    .footer-place,
    .place-elements-contact {
        font-size: 16px;
    }

    .about,.tecnologys,.projects,.certificate {
        width: auto;
        padding: 20px;
    }

    .my-name {
        font-size: 20px;
        margin-top: 15px;
    }

    .downlader-cv {
        font-size: 16px;
        height: auto;
    }

    .tecnologys {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        padding: 0px 40px 0px 40px;
        width: 800px;
    }
    
    .tecno-imagen {
        width: 60px;
        height: 60px;
    }

    .tecno {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 17px;
    }

    .about-me {
        font-size: 20px;
        padding: 10px;
    }

    .place-projects{
        width: auto;
        margin: 0 auto;
        padding: 0 10px;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        width: auto;
    }

    .place-contact {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 70px;
        margin: 0 auto;
        padding: 8px;
        width: 100%;
        max-width: 800px;
    }

    .place-elements-contact {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .msg-contact {
        font-size: 18px;
        text-align: center;
    }

    .place-email{
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    
    .bar-actions{
        width: 300px;
    }

    .about, .tecnologys, .projects, .certificate{
        width: auto;
        padding: 10px;
    }


    .my-name{
        font-size: 18px;
        margin-top: 15px;
    }

    .about-me{
        font-size: 16px;
        padding: 10px;
    }

    .msg-contact{
        font-size: 16px;
        text-align: center;
        margin-bottom: 10px;
    }

    .picture-me{
        width: 150px;
        height: 150px;
    }


    .tecnologys{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        padding: 0px 20px 0px 20px;
    }

    .place-contact{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 0 auto;
        padding: 15px;
        width: 100%;
    }

    .place-projects{
        margin: 0 auto;
        padding: 0 10px;
        width: 100%;
    }

    .place-email{
        width: 100%;
        padding: 15px;
        margin: 0 auto;
    }

    .button-contact {
        width: 100%;
    }

    .title-project, .input-form, .footer-place, .place-elements-contact{
        font-size: 15px;
    }

    .input-form{
        display: grid;
        margin: 15px;
        gap: 8px;
    }

    .input {
        width: 100%;
        padding: 8px 10px;
        border-radius: 5px;
    }

    .get-project{
        padding: 40px 0px 80px 0px;
        justify-content: center;
        text-align: center;
    }

    .tecno-project{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    
    .place-elements-contact{
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .tecno-imagen {
        width: 50px;
        height: 50px;
    }

    #my-contact {
        width: 100%;
        margin: 0 auto;
        display: grid;
    }

    .tecno{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 15px;
    }

    .projects{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .title-projects{
        padding: 100px 0px 30px 0px;
        font-size: 22px;
    }

    .downlader-cv{
        font-size: 12px;
        height: auto;
    }

    .place-certificate{
        width: 100%;
    }

    .projects{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin: 0 auto;
    }
}

