
/* Styles Card Projects */

.card-projects{
    width: 100%;
    height: 240px;
    background-color: rgba(86, 86, 90, 0.126);
    display: grid;
    border-radius: 8px;
    grid-template-columns: repeat(2, 1fr);
}

.project-imagen{
    width: 300px;
}

.project-description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    width: 500px;
}

.imagen-pro{
    object-fit: cover;
    border-radius: 8px 0px 0px 8px;
    height: 240px;
    width: 100%;
}

.project-description{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    height: 240px;
}

.title-project{
    display: grid;
    align-content: center;
    height: 40px;
}

.body-project{
    display: grid;
    align-content: center;
    height: 150px;
    background-color: aqua;
}

.tecno-project{
    height: 46px;
    display: grid;
    align-content: center;
    background-color: blueviolet;
}