
/* Styles Card Projects */

.card-projects{
    width: 100%;
    height: 250px;
    background-color: rgba(86, 86, 90, 0.126);
    display: grid;
    border-radius: 8px;
    grid-template-columns: repeat(2, 1fr);
}

.project-imagen{
    width: 250px;
}

.project-description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    width: 550px;
}

.imagen-pro{
    object-fit: cover;
    border-radius: 8px 0px 0px 8px;
    height: 250px;
    width: 100%;
}

.project-description{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 250px;
}

.title-project{
    display: grid;
    align-content: center;
    height: 40px;
    font-size: 20px;
}

.description-db {
    font-size: 17px;
}

.body-project{
    display: grid;
    align-content: center;
    height: 150px;
    text-align: left;
    padding: 0px 20px 0px 20px;
}


.tecno-project{
    height: 60px;
    padding: 0px 20px 0px 20px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.list-tecno{
    justify-content: flex-start;
    display: flex;
    list-style: none;
    left: 0;
    padding: 0;
    gap: 20px;
    align-items: center;
    color: rgb(45, 45, 45);
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list-icons{
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    padding: 0;
    left: 0;
    align-items: center;
}

.tecnology-name{
    background-color: rgb(211, 225, 236);
    border-radius: 8px;
    padding: 4px 10px 4px 10px;
}

.tecnology-name:hover{
    cursor: default;
    background-color: rgba(86, 86, 90, 0.126);
    color: white;
}

.tecnologys-icons{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.section-icons{
    padding: 5px;
}

.links-project{
    display: flex;
    justify-content: space-around;
}

.button-github, .button-web{
    width: 90px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

